/artifacts
/.vs
node_modules
/src/SuperUserMVC/wwwroot
/src/SuperUserMVC/package-lock.json
/src/SuperUserMVC/project.lock.json
/src/SuperUserMVC/SuperUserMVC.xproj.user
/src/SuperUserMVC/appsettings.json
/src/SuperUserMVC/*.user
/src/SuperUserMVC/Properties/launchSettings.json
/src/SuperUserMVC/Properties/PublishProfiles/*.ps1
/src/SuperUserMVC/Properties/PublishProfiles/*.pubxml
/src/SuperUserMVC/Properties/PublishProfiles/*.user
/test/SuperUserMVC.UnitTests/project.lock.json
wrap
lib
logs
*.user
Publish
/src/SuperUserMVC/*.config
net46bin
obj
bin
packages
Backup
/UpgradeLog.htm
/src/SuperUserModules/app.config
/src/SuperUserMVC/.vs/SuperUserMVC/v15/.suo
/src/SuperUserMVC/npm-debug.log
/src/SuperUserMVC/.vscode
/src/SuperUserMVC/client/.vscode
/org